.scoreboard-container {
    -ms-grid-columns: 40% (1fr)[3];
    grid-template-columns: 40% repeat(3, 1fr);
}

.scoreboard-container h4,
.scoreboard-container h1 {
    text-align: center;
    margin: 0;
}

.scoreboard-container .player-name {
    -ms-grid-column: 1 !important;
    grid-column: 1 !important;
}

.game-room-heading > h3 {
    margin-right: 10px;
}